@import "variables";

.login {
	padding: 0;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);

	// width: 300px;
	&__form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&-field {
			width: 300px !important;
		}
	}

	&__button {
		display: block;
		margin: 30px auto;
	}

	&__input {
		display: block;
		margin: 0 auto;
	}

	&__heading {
		text-align: center;
		font-family: 'Roboto Slab';
		font-size: 34px;
		display: flex;
		align-items: center;
		margin-bottom: 50px;

		p {
			text-indent: -90px;
			margin-left: 60px;
		}

		&-img {
			width: 120px;
			display: block;
		}
	}

	&__subheading {
		text-align: center;
		font-family: 'Roboto Slab';
		font-size: 20px;
		font-weight: 400;
		margin-bottom: 25px;
	}
}
