<main class="login">
	<h1 class="login__heading">Sztosowy dziekanat v0.1</h1>
	<form #loginForm="ngForm" class="login__form" (ngSubmit)="loginForm.valid && login(loginForm.form)">
		<mat-form-field>
			<input matInput type="text" name="UserName" class="login__input" placeholder="Username" (ngModelChange)="dataChanged(loginForm.form)" ngModel required>
		</mat-form-field>

		<mat-form-field>
			<input matInput type="password" name="Password" class="login__input" placeholder="Password" (ngModelChange)="dataChanged(loginForm.form)" ngModel required>
		</mat-form-field>

		<input type="hidden" name="grant_type" value="password" ngModel="password">
		<button mat-raised-button class="login__button" color="primary">Zaloguj</button>
	</form>
</main>
