<section>
	<h1 class="page__subtitle">Teachers component</h1>

	<button mat-button class="button--add mat-elevation-z2" color="accent" (click)="openAddTeacherModal()">
		<div class="button__circle">
			<img class="button__circle-plus" src="/assets/img/plus-symbol.svg"/>
		</div>
		<p class="button__text">
			Dodaj wykładowcę
		</p>
	</button>

	<mat-table #table [dataSource]="dataSource" class="mat-elevation-z2">

		<ng-container matColumnDef="degree">
			<mat-header-cell class="table__header-cell" *matHeaderCellDef>Stopień</mat-header-cell>
			<mat-cell *matCellDef="let teacher">{{ teacher.degree }}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="firstName">
			<mat-header-cell class="table__header-cell" *matHeaderCellDef>Imię</mat-header-cell>
			<mat-cell *matCellDef="let teacher">{{ teacher.firstName }}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="lastName">
			<mat-header-cell class="table__header-cell" *matHeaderCellDef>Nazwisko</mat-header-cell>
			<mat-cell *matCellDef="let teacher">{{ teacher.lastName }}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="room">
			<mat-header-cell class="table__header-cell" *matHeaderCellDef>Pokój</mat-header-cell>
			<mat-cell *matCellDef="let teacher">{{ teacher.room }}</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="columns" class="table__header"></mat-header-row>
		<mat-row class="table__row" *matRowDef="let teacher; columns: columns;" (click)="openEditTeacherModal(teacher)"></mat-row>

	</mat-table>
</section>
