<h1>Teachers component</h1>
<!-- <ul>
	<li *ngFor="let teacher of teachers">
		{{ teacher.firstName }} {{ teacher.lastName }}
	</li>
</ul> -->
<button (click)="openAddTeacherModal()">Dodaj teachera</button>

<mat-table #table [dataSource]="dataSource">

	<ng-container matColumnDef="degree">
		<mat-header-cell *matHeaderCellDef>Stopień</mat-header-cell>
		<mat-cell *matCellDef="let teacher">{{ teacher.degree }}</mat-cell>
	</ng-container>

	<ng-container matColumnDef="firstName">
		<mat-header-cell *matHeaderCellDef>Imię</mat-header-cell>
		<mat-cell *matCellDef="let teacher">{{ teacher.firstName }}</mat-cell>
	</ng-container>

	<ng-container matColumnDef="lastName">
		<mat-header-cell *matHeaderCellDef>Nazwisko</mat-header-cell>
		<mat-cell *matCellDef="let teacher">{{ teacher.lastName }}</mat-cell>
	</ng-container>

	<ng-container matColumnDef="room">
		<mat-header-cell *matHeaderCellDef>Pokój</mat-header-cell>
		<mat-cell *matCellDef="let teacher">{{ teacher.room }}</mat-cell>
	</ng-container>
<!--
	<ng-container matColumnDef="delete">
		<mat-header-cell *matHeaderCellDef>Edytuj</mat-header-cell>
		<mat-cell *matCellDef="let teacher"><button (click)="openEditTeacherModal(teacher)">edytuj</button></mat-cell>
	</ng-container>

	<ng-container matColumnDef="edit">
		<mat-header-cell *matHeaderCellDef>Usuń</mat-header-cell>
		<mat-cell *matCellDef="let teacher"><button (click)="openDeleteTeacherModal(teacher)">usuń</button></mat-cell>
	</ng-container> -->

	<mat-header-row *matHeaderRowDef="columns"></mat-header-row>
	<mat-row *matRowDef="let teacher; columns: columns;" (click)="openEditTeacherModal(teacher)"></mat-row>

</mat-table>
