@import "variables";

.card {
	width: 200px;
	transition: 0.3s;
	margin: 10px;

	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background: $red;
		position: absolute;
		top: 70px;
		left: 0;
		opacity: 0.4;
	}

	&__container {
		display: flex;
		flex-wrap: wrap;
	}

	&__link {
		display: block;
		text-decoration: none;
	}

	&__img {
		max-width: 90px;
		display: block;
		margin: auto;
		position: relative;
		z-index: 1;
	}

	&__heading {
		font-family: 'Roboto Slab';
		text-align: center;
		text-decoration: none;
		margin-bottom: 5px;
	}

	&__lead {
		font-weight: 200;
		text-align: center;
		margin: 0;

		&--long {
			width: calc(100% + 4px);
			margin-left: -2px;
		}
	}

	&:hover {
		background: $teal-light;
		// background: rgba(0,0,0,.05);
	}

	&--active {
		background: $red-light;
	}
}

.page {
	&__title {
		font-family: 'Roboto Slab';
	}

	&__subtitle {
		font-family: 'Roboto Slab';
		margin: 60px 0 15px;
	}
}

.mat-table {
	font-family: 'Open Sans';
}

.table {
	&__header {
		background: $teal;

		&-cell {
			color: #fff;
			font-family: 'Roboto Slab';
			font-size: 15px;
		}
	}

	&__row {
		transition: 0.3s;
		cursor: pointer;

		&:hover {
			background: $teal-light !important;
		}
	}
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 60px;
	background: $teal;
	width: 100%;
	z-index: 9999;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	box-sizing: border-box;
	color: #fff;

	&-replacer {
		height: 80px;
	}

	&__logo {
		width: 80px;
		display: inline-block;
		margin-top: 25px;
	}

	&__title {
		font-family: 'Roboto Slab';
		display: inline-block;
		margin: 0 auto 0 0;
	}

	&__text {
		font-weight: 200;
		display: inline-block;
		margin: 0;
		font-size: 14px;
	}

	&__button {
		display: inline-block;
		font-family: 'Open Sans';
		font-weight: 400;
		text-decoration: underline !important;
		margin: 0;
		padding: 0 8px !important;
	}

	&__menu {
		margin-top: 11px;

		&__item {
			&--logout {
				text-align: center;
			}
		}

		.mat-menu-content {
			padding: 0;
		}

		.mat-menu-item {
			font-family: 'Open Sans';
			font-size: 14px;
			padding: 0 35px 0 15px;
		}

		.mat-menu-item-highlighted:not([disabled]),
		.mat-menu-item:focus:not([disabled]),
		.mat-menu-item:hover:not([disabled]) {
			background: $teal-light;
		}
	}
}

.mat-dialog-container {
	overflow: hidden !important;
}

.mat-dialog-title {
	font-family: 'Roboto Slab';
	margin: 20px 0 !important;
	font-size: 24px;
	display: inline-block !important;
	text-align: center;
	position: relative;
	left: 50%;
	transform: translateX(-50%);

	&:before {
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		position: absolute;
		top: 18px;
		left: calc(-100% - 15px);
		background: $red;
	}

	&:after {
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		position: absolute;
		top: 18px;
		right: calc(-100% - 15px);
		background: $red;
	}
}

password-modal {
	padding: 0 20px;
	display: block;

	.mat-form-field {
		display: block;
		width: 300px;
	}

	.mat-dialog-title {
		margin-bottom: 50px !important;
	}
}

.modal {
	&__form {}

	&__title {
		text-align: center;
	}

	&__button {
		display: block !important;
		margin: 40px auto 0 !important;
	}

	&__form-field--oldPassword {
		margin-bottom: 30px;
	}
}

.button {
	&__circle {
		width: 55px;
		height: 55px;
		border-radius: 50%;
		background: $red;
		position: relative;

		&-plus {
			width: 20px;
			height: 20px;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&__text {
		font-family: 'Roboto Slab';
		padding-left: 20px;
		font-size: 16px;
		color: #000;
	}

	&--add {
		width: 250px;
		padding: 5px 0 !important;
		margin: 20px 10px 50px !important;
		transition: 0.3s;

		.mat-button-wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&:hover {
			background-color: $red-light !important;
		}

		.mat-button-focus-overlay {
			background: none;
		}
	}
}

.form {
	max-width: 400px;
	margin: 40px 0 0;

	&__field {
		float: left;
		margin: 10px 15px;

		&--full {
			width: calc(100% - 30px);
		}

		&--half {
			width: calc(50% - 30px);
		}

		&--three {
			margin: 10px 15px;
			width: calc(33.333333% - 30px);
		}
	}

	&--readonly {
		.mat-form-field-underline {
			background: none;
		}

		.mat-placeholder-required {
			opacity: 0;
		}
	}

	&__button {
		margin: 40px 5px 15px !important;

		&--right {
			float: right;
		}
	}
}

input:-webkit-autofill,
select:-webkit-autofill,
textarea:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px white inset;
}

.panel {
	&__label {
		color: rgba(0,0,0,.54);
		font-size: 12px;
		margin: 25px 0 0;
		&-container {
			display: flex;
			div {
				margin-right: 50px;
			}
			.panel__label, .panel__description {
				margin: 0;
			}
		}
	}
	&__description {
		margin: 0 0 25px;
	}
	&:hover {
		.mat-expansion-panel-header {
			background: $teal-light !important;
		}
	}
	&.mat-expanded .mat-expansion-panel-header {
		background: $teal-light !important;
	}
	.mat-action-row {
		// background: $teal-light;
		padding: 16px 30px 16px 24px;
	}
	.mat-expansion-panel-body {
		margin: 0 20px;
	}
}
